@CHARSET "UTF-8";
/*定义超链接的样式*/
BODY {
	line-height:1.6em;
	TEXT-ALIGN: left;
    margin-left:5px;
    font-size:18px;
    font-family: "sans-serif";
}

a {
    text-decoration:none;
   word-wrap:break-word;
}

a:visited{
    /*color:#0044BB;*/
	color:blue;
}
a:link{

   /*color:#0044BB;*/
	color:blue;
}

ul{
    padding-left:0px;
}

li{
    list-style-type:none;
    float:left;
}

img{
    border:0px;
}


.luntanshouye{

}

.luntanneirong{
    width:400px;
}

.pr_img{
    margin-left: -60px;
    margin-top:-10px;
    /*width:307.5px;*/
    /*height:312px;*/
    width:280.5px;
    height:300px;
}

.jh_ls{
    width:153px;
    height:103.5px;
}

.error_html{
    text-align: center;
    margin-top: 50px;
}

.boss_img{
    width:340px;
    height:240px;
}
